In [ ]:
#Variable - data container & data types 
_a_ = " Hello " #String ( anything written in single or double qoutes )
a= 534   #int
A= 163.25  #Float 
a1= True #Boolean

In [ ]:
print(_a_)

 Hello

In [ ]:
print("Hello")

Hello

In [ ]:
name = "Tom"
print(name)

Tom

In [ ]:
print(type(name))

<class 'str'>

In [ ]:
num1 = 10 
num2 = 233.34

In [ ]:
print(num1+num2)

243.34

In [ ]:
print(type(num1))

<class 'int'>

In [ ]:
print(type(num2))

<class 'float'>

In [ ]:
print(type(num1+num2))

<class 'float'>

In [ ]:
print(10>9)

True

In [ ]:
print(9<8)

False

In [ ]:
#collection datatypes in python
''' List
Tuples
Set
Dictionary'''

' List\nTuples\nSet\nDictionary'

In [ ]:
num1 = 10
num2 = 9
print(num1*num2)

90

In [ ]:
#List - is a ordered collection of datatypes, uses [] brackets, is mutable/changeable 
mylist = ["Data","Status","Completed","Types",263, False ]
print(mylist)

['Data', 'Status', 'Completed', 'Types', 263, False]

In [ ]:
print(type(mylist))

<class 'list'>

In [ ]:
#Index number - printing the individual data
#positive indexing
print(mylist[0])
print(mylist[1])
print(mylist[2])
print(mylist[3])
print(mylist[4])

Data
Status
Completed
Types
263

In [ ]:
#Negative indexing 
print(mylist[-1])
print(mylist[-2])
print(mylist[-3])
print(mylist[-4])
print(mylist[-5])

False
263
Types
Completed
Status

In [ ]:
print(mylist)

['Data', 'Status', 'Completed', 'Types', 263, False]

In [ ]:
#Updating the data / mutuable data 
mylist[-1] = True
print(mylist)

['Data', 'Status', 'Completed', 'Types', 263, True]

In [ ]:
#Append the data 
mylist.append(34.6)
print(mylist)

['Data', 'Status', 'Completed', 'Types', 263, True, 34.6]

In [ ]:
#Inserting the value
#insert(Index, Value)
mylist.insert(2, 34.4)
print(mylist)

['Data', 'Status', 34.4, 'Completed', 'Types', 263, True, 34.6]

In [ ]:
# EXtend 
a = [1,2,3,4,4]
b = [455,87,9,0]
a.extend(b)
print(a)
a.remove(0)
print(a)
a.remove(4)
print(a)

[1, 2, 3, 4, 4, 455, 87, 9, 0]
[1, 2, 3, 4, 4, 455, 87, 9]
[1, 2, 3, 4, 455, 87, 9]

In [ ]:
mylist.extend(a)

In [ ]:
print(mylist)

['Data', 'Status', 34.4, 'Completed', 'Types', 263, True, 34.6, 1, 2, 3, 4, 455, 87, 9, 0]

In [ ]:
del a

In [ ]:
print(a)

NameError: ignored

In [ ]:
#concatenation - adding two strings
a = [1,2,3,4]
a[3]=5
print("The updated list is :",a)

The updated list is : [1, 2, 3, 5]

In [ ]:
num1 = 200
num2 = 300
sum = num1+num2 
print("The sum of numbers is", sum)

The sum of numbers is 500

In [ ]:
x = input("Enter the value x :")
y = input("Enter the value y :")
print("The total is ", x+y) #here it is concatenating that means just joining the two strings instead of addition as we have seen the above case

Enter the value x :200
Enter the value y :300
The total is  200300

In [ ]:
 #Incase we need to use them as integers and want to add them. This is similar to C++
x = int(input("Enter the value x :"))
y = int(input("Enter the value y :"))
print("The total is ", x+y)

Enter the value x :2
Enter the value y :4
The total is  6

In [ ]:
# Collective data types - collection of data can be stored under a variable 
#List
#Tuple
#Set
#Dictionary

In [ ]:
#Tuples - ordered collection of data, (), non-mutuable
mytuple = ("Dell",547, "HP", 34.6, False)
print(mytuple)

('Dell', 547, 'HP', 34.6, False)

In [ ]:
len(mytuple) # Give total number of dataset
mytuple.insert(3,456)

AttributeError: ignored

In [ ]:
tup = (456,258.3)
mytuple.extend(tup)
print(mytuple)

AttributeError: ignored

In [ ]:
#Dictionary - {}, ordered collection of datatypes, in terms of keys and values , mutuable
mydic = {
         "username": "Admin", 
         "Password": "Pass",
         "Batch" : 2023,}
print(mydic)

{'username': 'Admin', 'Password': 'Pass', 'Batch': 2023}

In [ ]:
print(mydic["username"])

Admin

In [ ]:
print(mydic["Admin"])

KeyError: ignored

In [ ]:
#Updating the values in dictionary 
mydic["username"]="Adams"
print(mydic)

{'username': 'Adams', 'Password': 'Pass', 'Batch': 2023}

In [ ]:
mydic.insert("ID"=5236)
print(mydic)

SyntaxError: ignored

In [ ]:
#Appending the data in the dictionary  
mydic["ID"]=2536
print(mydic)

{'username': 'Adams', 'Password': 'Pass', 'Batch': 2023, 'ID': 2536}

In [ ]:
mydic["Password"] = [1,2,3,4]
print(mydic)

{'username': 'Adams', 'Password': [1, 2, 3, 4], 'Batch': 2023, 'ID': 2536}

In [ ]:
mydic.pop("ID")

2536

In [ ]:
del mydic
print(mydic)

NameError: ignored

In [ ]:

#Set - unordered colelction of datatypes , {}, duplicate vales are excluded

myset = {"Adams", "Task",12.56, False, 12.56}
print(myset)

{'Adams', 'Task', 12.56, False}

In [ ]:
myset[0]

TypeError: ignored

In [ ]:
# instead of append set uses add, it can only add one value at one time
myset.add(25)
print(myset)

{False, 'Task', 12.56, 'Adams', 25}

In [ ]:
set1 ={1,2,3,4,5,6}
set2 = {9,8,7,6,5}
set1.extend(set2)

AttributeError: ignored

In [ ]:
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
Dec = {"we":123,
       "we":988}  #over writes the same value if the key is same 
print(Dec)

{'we': 988}

In [ ]:
set3 = set1.intersection(set2)
print(set3)

{5, 6}

In [ ]:
set2. clear() # The variable will be defined but the data inside of it will be cleared 
print(set2)

set()

In [1]:
# Assignment 1
# Create a two different examples for collective datatypes in python

In [5]:
print("Hello All !\nGood evening everyone !") #\n - for new line

Hello All !
Good evening everyone !

In [7]:
#Function 
def func():
  print("Hello All !\nGood evening everyone !") 

func()

Hello All !
Good evening everyone !

In [10]:
def add(num1, num2):
  print("The addition of two values are",num1+num2)

add(2,4)

The addition of two values are 6

In [12]:
def a(name):
  print("My favourite cartoon name is ", name)

a("Tom")

My favourite cartoon name is  Tom

In [13]:
def subs(num1, num2):
  print("The difference of two numbers is: ", (num1 - num2 ))

subs(345,200)

The difference of two numbers is:  145

In [15]:
def prod(num1, num2):
  print("The product of two numbers is: ", (num1*num2 ))

prod(34,20)

The product of two numbers is:  680

In [16]:
#for loop
a = 5
for x in range (0,a):
  print(x)

0
1
2
3
4

In [18]:
a = 5
for x in range (0,a):
  print(x+1)

1
2
3
4
5

In [22]:
mylist = ["Data","Status","Completed","Types",263, False ]
for x in mylist:
  print(x)

Data
Status
Completed
Types
263
False

In [23]:
for x in range (0,5):
  func()

Hello All !
Good evening everyone !
Hello All !
Good evening everyone !
Hello All !
Good evening everyone !
Hello All !
Good evening everyone !
Hello All !
Good evening everyone !

In [24]:
if ( 2<5):
  print("2 is smaller than 5")
else:
  print("5 is greater than 2")

2 is smaller than 5

In [25]:
if ( 2>5):
  print("2 is smaller than 5")
else:
  print("5 is greater than 2")

5 is greater than 2

In [36]:
def quiz(choice):
  if (choice == ("a"or "b"or "c")):
    print("You have won !")
  elif (choice == ("d"or "e"or"f")):
    print("You have lost!")
  else:
    print("Tie breaker")

choice = input("Enter your choice (a,b,c,d,e,f):")
quiz(choice)

Enter your choice (a,b,c,d,e,f):d
You have lost!